# logs
/logs
*.log

# dependencies
vendor/
node_modules/

# build directories
/_deploy_*/

# vvv
/log/
/wp-config-vvv.php

# plugins
/content/mu-plugins/*
!/content/mu-plugins/autoload.php
!/content/mu-plugins/fix-annoyances.php
!/content/mu-plugins/https.php
!/content/mu-plugins/muddle.php
/content/plugins/*

# themes
/content/themes/*
# Include your theme like this:
#!/content/themes/your-theme

# jetbrains
.idea/
.idea_modules/
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# sublime text
*.sublime-workspace

# system files
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*.bak
*.swp
*.orig
Thumbs.db

# vcs
.svn
.cvs

# wordpress core
/core/

# wordpress specific
content/uploads/
content/blogs.dir/
content/upgrade/*
content/backup-db/*
content/advanced-cache.php
content/wp-cache-config.php
content/cache/*
content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
content/object-cache.php
content/mu-plugins/mu-plugin.php
content/mu-plugins/slt-force-strong-passwords.php
content/mu-plugins/limit-login-attempts
content/mu-plugins/wpengine-common
content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/content/index.php
/content/languages/themes/twentytwelve*
/content/languages/themes/twentythirteen*
/content/languages/themes/twentyfourteen*
/content/languages/themes/twentyfifteen*
/content/themes/twentyten
/content/themes/twentyeleven
/content/themes/twentytwelve
/content/themes/twentythirteen
/content/themes/twentyfourteen
/content/themes/twentyfifteen
/content/themes/index.php
/content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
