# Dependencies #
################
vendor/
node_modules/

# Build directories #
#####################
.sass-cache
/_deploy_*/

# VVV #
#######
/log/*
/wp-config-vvv.php

# Docker #
##########
!/wordpress/.gitkeep
/data/*
!/data/.gitkeep
/logs/*
!/logs/.gitkeep
docker-compose.override.yml
/config/elasticsearch/plugins/*
/config/wpsnapshots/.wpsnapshots.json

# WP Plugins #
##############
/wp-content/mu-plugins/*
/wp-content/plugins/*

# WP Themes #
#############
/wp-content/themes/*
# Include your theme like this:
#!/wp-content/themes/your-theme

# IDEs #
########
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.idea/
.idea_modules/
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
*.sublime-workspace
*.code-workspace
.vscode

# VCS #
#######
.svn
.cvs

# WordPress #
#############
/wordpress/
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/advanced-cache.php
/wp-content/index.php
/wp-content/backup-db/*
/wp-content/blogs.dir/
/wp-content/cache/*
/wp-content/cache/supercache/*
/wp-content/languages/
/wp-content/languages/plugins/debug-bar*
/wp-content/languages/plugins/p3-profiler*
/wp-content/languages/plugins/query-monitor*
/wp-content/languages/plugins/user-switching*
/wp-content/languages/themes/twenty*
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/twenty*
/wp-content/upgrade/*
/wp-content/uploads/
/wp-content/wp-cache-config.php
/wp-content/wflogs/

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
/logs
*.log
*.sql

# OS generated files #
######################
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*.bak
*.swp
*.orig
